---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// サイドバーのRecent postにサムネイルを表示する
.sidebar-subbox {
  position: relative;
  overflow: hidden;    
}

.sidebar-thumbnail{
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  float: left;
  width: 30%;
  margin: 2.5%;
  margin-top: 0;
  img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
  }
}

.sidebar-title{
    margin-top: 0;
    width: 65%;
  overflow: hidden;
  float: left;
  p {
  margin-top: 0;
//  font-size: $type-size-6;
  text-indent: 0;
  }
}
    
// メインページのRecent postにサムネイルを表示する
.archive__item-subbox {
  position: relative;
  overflow: hidden;    
}

// カスタム for index.md
.archive__item-teaser-blog {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  float: left;
  width: 40%;
  margin: 2.5%;
  margin-top: 0;
  img {
      width: 100%;
      // width: calc((100% - #{$right-sidebar-width-narrow})*0.4);
  }
}

.archive__item-excerpt-content {
  width: 55%;
  overflow: hidden;
  float: left;    
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }

  a {
//    position: fixed;      
    position: relative;
  }
}
